@value theme: "../../styles/theme.css";
@value screen-sm from theme;

.wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  margin: auto;
  position: relative;
  padding: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 1001;
  bottom: 50px;
}

.header {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ebf0f5;
  min-height: 60px;
}

.title {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 0;
}

.header i {
  position: relative;
  bottom: 12px;
  cursor: pointer;
  height: 25px;
}

.footer {
  padding-top: 30px;
  border-top: solid 1px #ebf0f5;
  text-align: right;
}

.cancel {
  margin-right: 20px;
  cursor: pointer;
}

.width500 {
  width: 500px;
}

@media screen and (max-width: screen-sm) {
  .wrapper {
    display: block;
    overflow-y: auto;
    padding: 50px 15px;
  }

  .container {
    width: 100%;
    bottom: initial;
    position: initial;
    margin: 0;
    padding: 25px 20px 30px 20px;
  }

  .header {
    min-height: initial;
  }

  .title {
    font-size: 20px;
  }
}

html.noScroll, .noScroll body {
  overflow: hidden;
  position: relative;
  height: 100%;
}
